/*Maak hier jouw CSS!*/

/* Code door Daniel Burgemeestre voor NOVI-education.nl */

.container {
    display: grid;
    justify-content: start;

    background-color: papayawhip;
    max-width: 600px;

    padding: 15px;
    row-gap: 5px;

    column-gap: 5px;
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px 100px 50px 50px 50px;
    grid-template-areas:
        "a-header"
        "b-main"
        "c-small"
        "d-small"
        "e-small"
        "f-empty"
        "g-footer";
}

.item  {
    background-color: purple;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: header;
}
#a-header {
    background-color: purple;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    grid-area: header;
}


#b-main  {
    background-color: purple;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    grid-area: header;
}

#c-small {
    background-color: purple;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    grid-area: header;
}
#d-small {
    background-color: purple;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    grid-area: header;
}
#e-small {
    background-color: purple;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    grid-area: header;
}
#f-small {
    background-color: purple;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    grid-area: header;
}